$theme-gray-dark: 			#252830;
$theme-gray-lighten: 		#292d37;
$gray-mute: 				#797979;
$blue-mute: 				#72879c;
$blue: 						#1997c6;
$blue-var1: 				#67d6ff;
$header-bg: 				#333844;

$danger: 					#b62323;
$warning:					#f4752e;
$safe: 						#29683c;

$green: 					#1ec27b;
$bg-bluish-gray: 			#394054;

$dashhead-color: 			darken($theme-gray-dark,3%);

$box-shadow: 				0px 6px 58px 0px rgba(0, 0, 0, 0.33);

$nav-height-offset-lg: 		0 !default;
$nav-height-offset-xs: 		80px !default;
$nav-color: 				#ececec;
$nav-bg: 					lighten($theme-gray-dark,10%);
$nav-bg-active: 			lighten($theme-gray-dark,5%);
$modal-border-color: 		#333844;
$modal-sidebar-bg:			#20232b;

$z-index-nav: 				1000;

$stats-width: 				210px;
$stats-width-desktop:		280px;
$percentage-width: 			80px;
$nav-desktop-width: 		80px;
$body-padding: 				30px;
$modal-sidebar-width: 		200px;

$easing: 					cubic-bezier(.72,.21,.33,1);

$header-height: 			54px;


@mixin boxshadow($x,$y,$blur,$spread,$color) {
	box-shadow: $x $y $blur $spread $color;
	-webkit-box-shadow: $x $y $blur $spread $color;
}