.btn-group-tab{clear:both;margin-top:10px}.btn-group-tab .btn{min-width:100px;text-transform:uppercase;font-weight:500}.col-group{position:relative;display:flex}.col-group .col{width:33.3333%;height:81vh;display:block}.card.card-inverse{background-color:#292c35;border:1px solid #2d323e;-webkit-box-shadow:0px 11px 18px 0px rgba(0,0,0,0.26);box-shadow:0px 11px 18px 0px rgba(0,0,0,0.26)}.card .card-header{border-bottom:none;font-weight:500;text-transform:uppercase;font-size:1em;padding-top:30px}
/*# sourceMappingURL=presentation.css.map */
